<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <img width="150" alt="Dogs Home Logo" src="../assets/dogshomelogo.png">

  
  <div class="form-input">
    <p>
      Welcome to {{ title }}! Please type in your Walker ID:
    </p>
    <form>
      <div class="form-group">
        <input #newId (keyup.enter)="setId(newId.value)" class="form-control" id="walkerIdInput" placeholder="Walker ID">
        <button (click)="setId(newId.value)" type='button' class="btn btn-primary btn-dark">OK</button>
        <div>{{walkerId}}</div>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
